.chat {
  background-color: #d0e0cb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 50px;
  position: relative;
  height: calc(100vh - 56px);
}

.chat__back {
  position: absolute;
  top: 70px;
  left: 40px;
  cursor: pointer;
  font-size: 24px;
  color: #838383;
}

.chat__back:hover {
  color: darkcyan;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.chat__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chat__sidebar {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
  height: 300px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.chat__content {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 50px;
  width: 67%;
  height: 400px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chat__message {
  display: inline-block;
  background-color: #cdcfcf;
  margin-bottom: 2px;
  border-radius: 3px;
  padding: 2px 5px;
  font-size: 14px;
}

.chat__messenger {
  width: 475px;
  height: 100%;
}

.chat__messenger-name {
  border-bottom: 1px solid darkcyan;
  margin-bottom: 20px;
}

.chat__messenger-window {
  height: 75%;
  border: 1px solid darkcyan;
  margin-bottom: 10px;
  padding: 5px;
  overflow-y: auto;
}

.chat__messenger-window ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat__messenger-input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chat__messenger-input input {
  width: 90%;
}

.chat__users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
}

.chat__users-name {
  border-bottom: 1px solid darkcyan;
  margin-bottom: 15px;
}

.chat__users-list {
  list-style: none;
  padding: 0;
  border-bottom: 1px solid darkcyan;
  height: 70%;
}

.chat__users-item {
  font-size: 16px;
  cursor: pointer;
}

.chat__users-item:hover {
  color: darkcyan;
}

.chat__users-add {
  font-size: 22px;
  cursor: pointer;
}

.chat__users-add:hover {
  color: darkcyan;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.chat__addNew {
  font-size: 24px;
  cursor: pointer;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat__addNew:hover {
  color: darkcyan;
}

.chat__addNew i {
  margin-right: 20px;
}

.chat__block {
  font-size: 20px;
  border: 1px solid darkcyan;
  border-radius: 10px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.chat__list {
  list-style: none;
  padding: 0;
}

.chat__list-item {
  width: 100%;
  margin-bottom: 15px;
  border-bottom: 1px solid darkgrey;
  text-align: center;
}
/*# sourceMappingURL=chatPage.css.map */