.login {
  padding: 15px 20px 5px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  height: 240px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.login__header {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
}

.login__header div {
  margin-left: 10px;
  margin-right: 20px;
}

.login__header-name {
  font-size: 20px;
  color: darkcyan;
}

.login__header-btn {
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 18px;
}

.login__header-btn i {
  margin-right: 10px;
}

.login__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 130px;
  width: 100%;
}

.login__content button {
  background-color: darkcyan;
  border: none;
}

.login__content button:hover {
  background-color: darkcyan;
}

.login__input {
  border: 1px solid;
  border-color: darkcyan;
  border-radius: 10px;
  padding: 5px 10px;
  width: 100%;
}

.login__errors {
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login__errors span {
  margin-top: 5px;
}

.login__errors span p {
  color: darkcyan;
}

.login__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login__btn {
  width: 200px;
  height: 30px;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 7px;
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.login__btn:hover {
  color: darkcyan;
}

.login__btn i {
  margin-right: 35px;
}

.login-auth {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  height: 120px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.login-auth__header {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
}

.login-auth__header-name {
  font-size: 20px;
  color: darkcyan;
}

.login-auth__header-exit {
  font-size: 18px;
  cursor: pointer;
}

.login-auth__header-exit i {
  margin-right: 5px;
}

.login-auth__header-exit:hover {
  color: darkcyan;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}
/*# sourceMappingURL=login.css.map */