.mainPage {
  background-color:rgb(208, 224, 203);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: calc(100vh - 56px);
}

.content {
  padding-top: 30px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}